<div>
	<table>
		<thread>
			<tr>
				<th>タイトル</th>
			</tr>
		</thread>
		<tbody>
			<% @tasks.each do |task| %>
				<tr>
					<td><%= CGI.escapeHTML(task.title) %></td>
				</tr>
			<% end %>
			<tr>
				<td colspan="7"><a href="/tasks/new">新しいtodo</a></td>
			</tr>
		</tbody>
	</table>
</div>